<!DOCTYPE html>
<html>
<head>
    <title>Your UEA Courses</title>
    <link rel="stylesheet" href="styles/courses.css">
</head>
<body>
    <a href="/"><button id="homebtn">Home</button></a>
    <h1>Your Courses</h1>
    <ul>
        {% for course in courses %}
    <li>
        <div>
            <strong>{{ course.title }}</strong><br>
            <p id="courseID">ID: {{ course.id }}</p>
        </div>
        <button id="scrapeCourse">Scrape</button>
    </li>

        {% endfor %}
    </ul>

    <script>

        document.querySelectorAll('#scrapeCourse').forEach(button => {
            button.addEventListener('click', function() {
                const courseId = this.parentElement.textContent.match(/ID: (\d+)/)[1];
                fetch(`/scrape_course/${courseId}`, { method: 'POST' })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert('Course scraped successfully!');
                        } else {
                            alert('Failed to scrape course.');
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        });

    </script>
</body>
</html>
