<!DOCTYPE html>
    <html>
    <head>
        <title>UEA Blackboard Auth</title>
        <link rel="stylesheet" href="styles/style.css">
    </head>
    <body>
        <h1>UEA Blackboard Web Scraper</h1>
        <h2>By Caetan De Sousa</h2>
        <div class="btndiv">
            <!-- Allows the user to login to blackboard providing auth-->
            <button id="loginbtn" onclick="startLogin()">Begin Login</button>
            
            <!-- Scrapes the user's courses -->
            <button id="scrapecourses" onclick="scrapeCourses()"> Scrape Courses</button>

            <!-- Redirects user to the courses page -->
            <button id="viewcourses" onclick="viewCourses()">View Courses</button>
            
            <!-- Allows the user to view their marks via evision * OR MANUALLY INPUT? TODO-->
            <button id="modulemarks">View Module Marks</button> <!-- TODO Functionality (logic + nav) needs to be added here-->

        </div>

        <script>
            const loggedin = false;

            function startLogin() {
                const authWindow = window.open('/auth', '_blank', 'width=1000,height=900');
                const interval = setInterval(() => {
                    if (authWindow.closed) {
                        clearInterval(interval);
                        alert("Login window closed. You can now scrape!");
                    }

                    loggedin = true
                }, 1000);
            }
            
            function viewCourses() {
                window.location.href = "courses";
            }

            function scrapeCourses() {
                window.location.href = "scrape";
            }

            const loginBtn = document.getElementById("loginbtn");
            if (loggedin) {
                loginBtn.style.display = 'none';
            }
            
        </script>
    </body>
    </html>